<div class="breadcrumb-section breadcrumb-bg" style="height:40%">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text" >
					<p>best choice HerForYou</p>
					<h1>Successful Payments </h1>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="untree_co-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center pt-5">
                <div class="thankyou-card">
                    <div class="card-body">
                        <span class="display-3 thankyou-icon text-primary">
                            <i class="fas fa-check-circle fa-3x mb-5"></i>
                        </span>
                        <h5 class="display-3 text-black">Thank You for Your Order!</h5>
                        <p class="lead mb-5">We're thrilled that you've chosen to shop with us! Your order is being processed and will be shipped out to you soon.</p>
                        <p><a asp-action="Shop" asp-controller="Home" class="btn btn-sm btn-outline-black" style="font-weight:600">Back to Shopping</a></p>
                        <p class="small text-muted">Order Number: #1234</p>
                        <p class="small text-muted">If you have any questions or concerns, please don't hesitate to <a href="#" class="text-muted">contact us</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>